<mat-toolbar color="primary">
    <div class="navbar-container">
        <h1 class="logo">
            <a routerLink="/">SimulaMath</a>
        </h1>
        <nav class="navbar-links">
            <ul>
                <li><a routerLink="/">Simuladores</a></li>
                <li><a routerLink="/feedback">Sugestões e Feedbacks</a></li>
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Cadastre-se</a></li>
            </ul>
        </nav>
    </div>
</mat-toolbar>