<div class="container">

    <h2>Recupere sua senha</h2>

    <mat-form-field class="form-field">
        <mat-label>E-mail: </mat-label>
        <input matInput placeholder="email@example.com" [formControl]="email" (blur)="emailErrorMessage()" #input maxlength="100" (input)="onInput($event)" />
        <mat-hint align="end">{{value().length}}/100</mat-hint>
        <mat-error *ngIf="email.invalid">{{errorMessageEmail()}}</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" class="submit-button" [disabled]="!isFormValid()">Recuperar senha</button>
</div>