<div class="chart-container">
    <svg #svg width="600" height="400"></svg>
    <div class="slider-container">
        <label for="aRange">Inclinação (a): </label>
        <input type="range" id="aRange" min="-2" max="2" step="0.1" [(ngModel)]="aValue">
        <span>{{ aValue }}</span>
    </div>
    <div>
        <select name="function" id="choose-function" [(ngModel)]="currentFuncName">
            <option value="linear">Linear</option>
            <option value="exp">Exponencial</option>
            <option value="log">Logarítmico</option>
        </select>
    </div>
</div>