<mat-toolbar color="primary">
  <h1><a routerLink="/">SimulaMath</a></h1>
  <ul style="display: flex;">
    <li style="padding-right: 20px; list-style: none;"><a routerLink="/">Simuladores</a></li>
    <li style="padding-right: 20px; list-style: none;"><a routerLink="/feedback">Sugestões e Feedbacks</a></li>
    <li style="padding-right: 20px; list-style: none;"><a routerLink="login">Login</a></li>
    <li style="padding-right: 20px; list-style: none;"><a routerLink="/register">Cadastre-se</a></li>
  </ul>
</mat-toolbar>
<router-outlet>