<div class="container">
    <h2>Sugestões e Feedbacks</h2>

    <p>Como está sendo sua experiência na plataforma?</p>

    <strong>Feedback:</strong>
    <mat-form-field>
        <mat-label>Deixe seu feedback</mat-label>
        <textarea matInput [formControl]="feedback"></textarea>
    </mat-form-field>

    <button class="submit-button" (click)="onFeedback()">Enviar</button>

    <p>Dúvidas em algo relacionado à plataforma?</p>

    <strong>Dúvidas:</strong>
    <mat-form-field>
        <mat-label>Digite sua dúvida</mat-label>
        <textarea matInput [formControl]="doubt"></textarea>
    </mat-form-field>

    <button class="submit-button" (click)="onDoubt()">Submeter</button>
</div>